{% include 'inc/header.html' %}  
{% include 'inc/nav.html' %}  


  <section class="section">
    <div class="container">
    <div class="columns">
      <div class="column">
      <div class="box">
        <p id="blocks">Latest block: {{ info["blocks"] }}</p>
        <p>Wallet version: {{ info["version"] }}</p>
        <p id="conn">Connections: {{ info["connections"] }}</p>
        <p id="stake">Staking status: {{ info["staking status"] }}</p>
        <p id ="balance">Balance: {{ info["balance"] }}</p>
      </div>
      </div>
      <div class="column">
      <div class="box">
        <p id="mymn">My masternodes: {{ mynodes }}</p>
        <p id="mntotal">Total: {{ mn["total"] }}</p>
      </div>
      </div>
      <div class="column">
      <div class="box">
        <p>1 {{ session["coin"] }} = {{ p }} EUR</p>
        <p>1 {{ session["coin"] }} = {{ "%.8f"|format(pb) }} BTC</p>
      </div>
      </div>

    </div>
      <div class="columns">
      <div class="box">
      <table id="txs" class="display table is-fullwidth is-hoverable"  width="100%">
    <thead>
        <tr>
            <th>Type</th>
            <th>TXID</th>
            <th>Amount</th>
            <th>Time</th> 
        </tr>
    </thead></table>
    </div>
    </div>
  </div>
  </section>
<script>
$(document).ready(function (){
$.fn.dataTable.ext.errMode = 'throw';
    var table = $('#txs').DataTable({

      'ajax': {
          'url': "/api/listtxs",
          'dataSrc': ''

      },
      "language": {
        "emptyTable": "No records found",
    },
      "columns": [
            { "data": "category" },
            { "data": "txid" },
            { "data": "amount"},
            { "data": "time" },
           
        ],
"order": [[ 3, "desc" ]],
    });
     
});

var websocket = new WebSocket("ws://localhost:8765");

websocket.onmessage = function (event) {
  var mydata = JSON.parse(event.data);
  if ('type' in mydata) {
    if (mydata["type"] == "block") {
      var block = mydata["data"]["height"];
      $("#blocks").html('Latest block: '+block);
      }
    else if (mydata["type"] == "transaction") {
      if (mydata["data"]["amount"] > 0) { var cat = "receive";} else { var cat = "send";}
      var tt = $('#txs').DataTable().row.add({
            "category": cat,
            "txid": mydata["data"]["txid"],
            "amount": mydata["data"]["amount"],
            "time": mydata["data"]["time"]
        }).draw(false).node();
      $(tt).css({backgroundColor: 'green'}).animate({backgroundColor: 'white'}, 2000);
      }
    else if (mydata["type"] == "getinfo") {
      var balance = mydata["data"]["balance"];
      var connections = mydata["data"]["connections"];
      var staking = mydata["data"]["staking status"];
      $("#balance").html('Balance: '+balance.toFixed(8));
      $("#conn").html('Connections: '+connections);
      $("#stake").html('Staking Status: '+staking);
      }
    else if (mydata["type"] == "masternodes") {
      var count = mydata["data"]["count"];
      $("#mntotal").html('Total: '+count);
      }
  }
}


</script>
{% include 'inc/footer.html' %}