{% include 'inc/header.html' %}  

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" id="blocks">
      
      </a>

      <a class="navbar-item" id="balance">

      </a>

     
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

  <section class="section">
    <div class="container">
      
      <div class="box">
      <table id="txs" class="display table is-fullwidth is-hoverable"  width="100%">
    <thead>
        <tr>
            <th>Type</th>
            <th>TXID</th>
            <th>Amount</th>
            <th>Confirmations</th>
            <th>Time</th> 
        </tr>
    </thead></table>
    </div>
    </div>
  </section>
<script>
$(document).ready(function (){
$.fn.dataTable.ext.errMode = 'throw';
    var table = $('#txs').DataTable({

      'ajax': {
          'url': "/api/listtxs",
          'dataSrc': ''

      },
      "language": {
        "emptyTable": "No records found",
    },
      "columns": [
            { "data": "category" },
            { "data": "txid" },
            { "data": "amount"}, //, render: $.fn.dataTable.render.number(',', '.', 8, '') },
             { "data": "confirmations" },
              { "data": "time" },
           
        ],
"order": [[ 3, "asc" ]],
    });
    
    //setInterval( function () {
    //table.ajax.reload( null, false );
//}, 1000 );
     
});




function fetchdata(){
 $.ajax({
  url: '/api/getinfo',
  type: 'GET',
  dataType: "json",
  success: function(response){

      $("#blocks").html('Latest block: '+response.blocks);
      $("#balance").html('Balance: '+response.balance.toFixed(8));

  }
 });
}

$(document).ready(function(){
 fetchdata();
});


var websocket = new WebSocket("ws://localhost:8765");

websocket.onmessage = function (event) {
  var mydata = JSON.parse(event.data);
  if ('type' in mydata) {
    if (mydata["type"] == "block") {
      var block = mydata["data"]["height"];
      //console.log(block);
      $("#blocks").html('Latest block: '+block);
      }
    else if (mydata["type"] == "transaction") {
      if (mydata["data"]["amount"] > 0) { var cat = "receive";} else { var cat = "send";}
      var tt = $('#txs').DataTable().row.add({
            "category": cat,
            "txid": mydata["data"]["txid"],
            "amount": mydata["data"]["amount"],
            "confirmations": mydata["data"]["confirmations"],
            "time": mydata["data"]["time"]
        }).draw(false).node();
      $(tt).css({backgroundColor: 'green'}).animate({backgroundColor: 'white'}, 2500);
      }
  }
}


</script>
{% include 'inc/footer.html' %}