{% include 'inc/header.html' %}  


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      

      <a class="navbar-item">
      Receive
      </a>
      <a class="navbar-item">
      Send
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Utilities
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Bootstrap
          </a>
          <a class="navbar-item">
            Update wallet
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div></div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Advanced
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Create raw transaction
          </a>
          <a class="navbar-item">
            Update wallet
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div></div>
     
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{{ url_for('logout') }}">
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

  <section class="section">
    <div class="container">
    <div class="columns">
      <div class="column">
      <div class="box">
        <p id="blocks">Latest block: {{ info["blocks"] }}</p>
        <p>Wallet version: {{ info["version"] }}</p>
        <p id="conn">Connections: {{ info["connections"] }}</p>
        <p id="stake">Staking status: {{ info["staking status"] }}</p>
        <p id ="balance">Balance: {{ info["balance"] }}</p>
      </div>
      </div>
      <div class="column">
      <div class="box">
        <p id="mymn">My masternodes: </p>
        <p id="mntotal">Total:  {{ mn["total"] }}</p>
      </div>
      </div>
      <div class="column">
      <div class="box"></div>
      </div>

    </div>
      <div class="columns">
      <div class="box">
      <table id="txs" class="display table is-fullwidth is-hoverable"  width="100%">
    <thead>
        <tr>
            <th>Type</th>
            <th>TXID</th>
            <th>Amount</th>
            <th>Time</th> 
        </tr>
    </thead></table>
    </div>
    </div>
  </div>
  </section>
<script>
$(document).ready(function (){
$.fn.dataTable.ext.errMode = 'throw';
    var table = $('#txs').DataTable({

      'ajax': {
          'url': "/api/listtxs",
          'dataSrc': ''

      },
      "language": {
        "emptyTable": "No records found",
    },
      "columns": [
            { "data": "category" },
            { "data": "txid" },
            { "data": "amount"},
            { "data": "time" },
           
        ],
"order": [[ 3, "desc" ]],
    });
     
});




function fetchdata(){
 $.ajax({
  url: '/api/getinfo',
  type: 'GET',
  dataType: "json",
  success: function(response){
      $("#balance").html('Balance: '+response.balance.toFixed(8));
      $("#conn").html('Connections: '+response.connections);
      $("#stake").html('Staking Status: '+response['staking status']);

  }
 });
}

function fetchmn(){
 $.ajax({
  url: '/api/mncount',
  type: 'GET',
  dataType: "json",
  success: function(response){
      $("#mntotal").html('Total: '+response.total);
      

  }
 });
}

$(document).ready(function(){
 setInterval(fetchdata,10000);
 setInterval(fetchmn,60000);
});


var websocket = new WebSocket("ws://localhost:8765");

websocket.onmessage = function (event) {
  var mydata = JSON.parse(event.data);
  if ('type' in mydata) {
    if (mydata["type"] == "block") {
      var block = mydata["data"]["height"];
      //console.log(block);
      $("#blocks").html('Latest block: '+block);
      }
    else if (mydata["type"] == "transaction") {
      if (mydata["data"]["amount"] > 0) { var cat = "receive";} else { var cat = "send";}
      var tt = $('#txs').DataTable().row.add({
            "category": cat,
            "txid": mydata["data"]["txid"],
            "amount": mydata["data"]["amount"],
            "time": mydata["data"]["time"]
        }).draw(false).node();
      $(tt).css({backgroundColor: 'green'}).animate({backgroundColor: 'white'}, 2000);
      }
  }
}


</script>
{% include 'inc/footer.html' %}