{% include 'inc/header.html' %}  
  <section class="section">
    <div class="container">
      <h1 class="title">
        DSW UI
      </h1>
      <div class="box">
      <form method="POST" id="loginform">
      <div class="field">
        <label class="label">RPC User</label>
        <div class="control">
          <input class="input" type="text" placeholder="" name="user">
        </div>
      </div>

      <div class="field">
        <label class="label">RPC Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="" name="pass">
        </div>

      <div class="field">
        <label class="label">Host</label>
        <div class="control">
          <input class="input" type="text" placeholder="" name="host">
        </div>

      <div class="field">
        <label class="label">Port</label>
        <div class="control">
          <input class="input" type="text" placeholder="" name="port">
        </div>
      </div>
      <input class="button is-info is-rounded is-outlined" type="submit" value="Connect">
    </form>
    </div>
    </div>
  </section>
<script>
$(document).ready(function() {
$("#loginform").on('submit',function(e) {

  e.preventDefault();
  $.ajax({
  method:"POST",
  url: "/login",
  dataType:"html",
  data:$("#loginform").serialize(),
  success: function(data){

  if (data2 == 'Connected! You will be redirected in a few seconds...') {
    toastr.options.positionClass = 'toast-bottom-right';
    toastr.success(data);
    setTimeout(function (){
     window.location.href = '/dash';
    }, 2000);

}
else {
  toastr.options.positionClass = 'toast-bottom-right';
    toastr.error(data);
}

    }});
});
});
</script>

{% include 'inc/footer.html' %}