{% include 'inc/header.html' %}  
  <section class="section">
    <div class="container">
      <h1 class="title">
        DSW UI
      </h1>
      <div class="box">
      <form method="POST" id="loginform">
      <div class="field">
       <label class="label">Wallet</label>
       <div class="control">
      <div class="select">
       
        <select id="coinselect" name="coinselect">
          {% for coin in app_settings["coins"] %}
          <option value="{{ coin.ticker }}">{{ coin.ticker }}</option>
          {% endfor %}
        </select>
      </div>
      </div>
    </div>
      <div class="field">
        <label class="label">Dashdboard Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="" name="password" id="password">
        </div>
      </div>
      <input class="button is-info is-rounded is-outlined" type="submit" value="Connect">
    </form>
    </div>
    </div>
  </section>
<script>
$(document).ready(function() {
$("#loginform").on('submit',function(e) {

  e.preventDefault();
  $.ajax({
  method:"POST",
  url: "/login",
  dataType:"html",
  data:$("#loginform").serialize(),
  success: function(data){

      if (data == 'Connected! You will be redirected in a few seconds...') {
          toastr.options.positionClass = 'toast-bottom-right';
          toastr.success(data);
          setTimeout(function (){
           window.location.href = '/dash';
          }, 2000);

      }
      else {
        toastr.options.positionClass = 'toast-bottom-right';
          toastr.error(data);
      }

    }});
});
});


</script>

{% include 'inc/footer.html' %}