{% include 'inc/header.html' %}  
{% include 'inc/nav.html' %}  


  <section class="section">
    <div class="container">
      <button class="js-modal-trigger button is-info" data-target="masternodeconf">
        Create a new Masternode
      </button>
      <div class="columns">
      <div class="box">
      <table id="mn" class="display table is-fullwidth is-hoverable"  width="100%">
    <thead>
        <tr>
            <th>Alias</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
    </thead></table>
    </div>
    </div>
  </div>
  </section>

<div class="modal" id="masternodeconf">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add a new Masternode</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
     <form method="POST" id="loginform">
      <div class="field">
        <label class="label">Label</label>
        <div class="control">
          <input class="input" type="text" placeholder="" name="label" id="label">
        </div>
      </div>
      <div class="field">
        <label class="label">IP:PORT</label>
        <div class="control">
          <input class="input" type="text" placeholder="" name="ip" id="ip">
        </div>
      </div>
      <div class="field">
        <label class="label">MN Key</label>
        <div class="control">
          <input class="input" type="text" placeholder="" name="mnkey" id="mnkey">
        </div>
      </div>
        <div class="field">
        <label class="label">Transaction ID</label>
        <div class="control">
          <input class="input" type="password" placeholder="" name="txid" id="txid">
        </div>
      </div>
        <div class="field">
        <label class="label">Index</label>
        <div class="control">
          <input class="input" type="text" placeholder="" name="index" id="index">
        </div>
      </div>
    </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>


<script>
$(document).ready(function (){
$.fn.dataTable.ext.errMode = 'throw';
    var table = $('#mn').DataTable({

      'ajax': {
          'url': "/api/mymn",
          'dataSrc': ''

      },
      "language": {
        "emptyTable": "You have no masternodes yet",
    },
      "columns": [
            { "data": "alias" },
            { "data": "address" },
            { "data": "status"},
           
        ],
"order": [[ 0, "asc" ]],
    });
     setInterval( function () {
    table.ajax.reload( null, false );
}, 10000 );
});



document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);
    console.log($target);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});


</script>
{% include 'inc/footer.html' %}