{% include 'inc/header.html' %}  
{% include 'inc/nav.html' %}  


  <section class="section">
    <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
      <canvas id="qrcode"></canvas>
      </div>
      <div class="column">
      <div class="box">
        <div class="field">
          <label class="label">Receive</label>
          <div class="control">
            <input class="input" type="text" value="{{ addr }}" id="address" readonly>
          </div>
        </div>
      <input class="button is-info is-rounded is-outlined" type="submit" value="Copy" id="copy-button">
      </div>
      </div>
     
      <div class="column is-one-fifth">
      
      </div>

    </div>
      
  </section>
<script>
  $( document ).ready(function() {

document.querySelector("#copy-button").onclick = function() {

  document.querySelector("#address").select();

  document.execCommand('copy');
  toastr.options.positionClass = 'toast-bottom-right';
  toastr.success('Address copied!');
};
    });

 (function() {
        var qr = new QRious({
          element: document.getElementById('qrcode'),

  level: 'H',

  size: 256,
  value: '{{ addr }}'
        });
      })();

</script>
{% include 'inc/footer.html' %}